@import-normalize;

/* bring in normalize.css styles */

:root {
  --main-color: #0079FF;
  --main-color-hover: #60ABFF;
  --text-hover:#575759;

  --white: #FFF;

  --gray-50: #F6F8FF;
  --gray-100: #697C9A;
  --gray-200: #4B6A9B;
  --gray-300: #2B3442;
  --gray-400: #1E2A47;
  --gray-500: #141D2F;
}

body {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray-50);
  color: var(--gray-50);
}

body[data-theme='dark'] {
  background-color: var(--gray-500);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p {
  padding: 0;
  margin: 0;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}